@using DomainLayer.Entities.Concrete
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-item">Welcome @User.Identity?.Name</span>
        </li>

        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User),"Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="AdminPanel" asp-controller="Panel" asp-action="Index">General Operations</a>
            </li>
         
        }
        else
        {
            <li class="nav-item">
                <btn> <a class="nav-link text-dark" asp-area="UserPanel" asp-controller="User" asp-action="Index"> My Reads</a> </btn>
            </li>
         
        }
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Index">Exit</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-lowercase" asp-controller="Login" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Login" asp-action="Register">Register</a>
        </li>
    }
</ul>
