<h1>Admin Panel</h1>
<style>

    

</style>


<ul>
    <li><a asp-area="AdminPanel" asp-controller="Book" asp-action="Index">Update Book</a></li>
    <li><a asp-area="AdminPanel" asp-controller="Category" asp-action="Index">Update Category</a></li>
</ul>